:root {
  --primary: #D9A221;
  --primary-700: rgba(217, 162, 33, 0.7);
  --primary-hover: #C99A33;
  
  --secondary: #191A1E;

  --text: #323232;
  --text-detail: #3D3D3D;
  
  --bg: #F8F8F8;
  --line: #848484;

  --heart: #D7443E;

  --black: #000000;
  --black-700: rgba(0, 0, 0, 0.7);
  --white: #FFFFFF;
  --white-700: rgba(255, 255, 255, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border-25 { border-radius: 0.25rem; }
.border-50 { border-radius: 0.5rem; }

.txt-white { color: var(--white); }
.txt-primary { color: var(--primary); }

.txt-poppins { font-family: 'Poppins', sans-serif; }
.txt-vidaloka { font-family: 'Vidaloka', serif; }

.fsz-0 { font-size: 0.625rem; } /* 10px */
.fsz-1 { font-size: 1.125rem; } /* 18px */
.fsz-2 { font-size: 1.5rem; }   /* 24px */
.fsz-3 { font-size: 2.25rem; }  /* 36px */

.fw-medium { font-weight: 500; }

.font-vidaloka {
  font-family: Vidaloka, serif;
}

.text-justify { text-align: justify; }

/* NAVBAR */
.navbar {
  font-family: 'Poppins', sans-serif;
  border-bottom: 2px solid var(--black);

  transition: background-color 0.3s;
}

.navbar-scrolled {
  background-color: var(--primary);
}

.navbar a, .navbar a:hover, .navbar a:focus {
  color: var(--black);
}

.nav-item {
  display: flex;
  align-items: center;
}

.navbar-toggler {
  color: var(--black);
  border-color: var(--black);
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='black' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.dropdown-item:active {
  background-color: var(--primary);
}

.hvr-underline-from-center:before {
  background-color: var(--black);
}

@media (min-width: 992px) {
  .navbar-nav {
    gap: 3rem;
  }

  .navbar-brand {
    border-right: 2px solid var(--black);
    padding-right: 2rem;
  }

  #contact-btn {
    border: 2px solid var(--black);
    padding: 0.25rem;

    transition: 0.3s;
  }

  #contact-btn:hover {
    background-color: var(--primary-700);
  }

  .navbar-scrolled #contact-btn:hover {
    filter: brightness(1.2);
  }
}