#banner-1 {
  background-image: url('../assets/img/banner-1.jpg');
  background-size: cover;

  width: 100%;
  
  height: 80vh;
}


/* WELCOME */
#welcome {
  width: 100%;
  height: 100%;

  position: relative;

  background-color: var(--secondary);
}

#welcome-cards {
  position: absolute;
  top: -7rem;
}

.welcome-card {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 20rem;  
  height: 15rem;

  background-size: cover;
  background-repeat: no-repeat;
}

#welcome-card-1 { background-image: url('../assets/img/estetica.jpg'); }
#welcome-card-2 { background-image: url('../assets/img/dermatologia.jpg'); }
#welcome-card-3 { background-image: url('../assets/img/tricologia.jpg'); }
#welcome-card-4 { background-image: url('../assets/img/nutricao.jpg'); }

.welcome-card span {
  position: relative;
  z-index: 1;
  
  font-family: 'Vidaloka', serif;
  text-align: center;
}

.welcome-card:hover span {
  color: var(--primary);
}

.yellow-filter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  
  width: 100%;
  height: 100%;

  background-color: var(--primary-700);
  transition: background-color 0.3s;
}

.welcome-card:hover .yellow-filter {
  background-color: var(--black-700);
}



/* ABOUT */
#about {
  padding: 16rem 0 5rem;
}

#about-img {
  width: 100%;
  height: 100%;

  position: relative;
}

#about-img img {
  position: absolute;
  width: 100%;
}

#about p {
  line-height: 1.75rem;
}

@media (max-width: 991.98px) {
  #about {
    padding-top: 28rem;
    padding-bottom: 1rem;
  }

  #about-img {
    display: flex;justify-content: center;
  }

  #about-img img {
    position: relative;
    max-width: 35rem;
  }
}

@media (max-width: 575.98px) {
  #about {
    padding-top: 60rem;
  }
}

/* TREATMENT */
#categories {
  border-bottom: 2px solid var(--line);
  width: fit-content;
}

#categories span {
  transition: color 0.3s;
}

#categories span:hover {
  color: var(--primary);
}

#categories span::before {
  content: '';
  position: absolute;
  
  bottom: -0.25rem;
  left: 50%;

  width: 0;
  height: 0.25rem;

  background-color: var(--primary);
  transition: width 0.3s, left 0.3s;
}

#categories span:hover::before {
  left: 0;
  width: 100%;
}

#categories span,
#categories span.selected {
  position: relative;
}

#categories span.selected::before {
  content: '';
  position: absolute;
  
  bottom: -0.25rem;
  left: 0;

  width: 100%;
  height: 0.25rem;

  background-color: var(--primary);
}

#categories span {
  cursor: pointer;
}

#category-content {
  margin-top: 3rem;
}

.category-item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 12rem;
  height: 100%;
}

.category-item-icon {
  position: absolute;
  top: 0;
  z-index: 1;

  background-color: var(--secondary);
  padding: 1.25rem;
  border-radius: 50%;

  height: fit-content;
}

.category-item-icon img {
  width: 2rem;
  height: 2rem;
}

.category-item-content {
  position: absolute;
  top: 2.5rem;
  z-index: 0;

  background-color: var(--primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  padding-bottom: 1rem;
  height: fit-content;
  width: 100%;
}

.category-item-content a {  
  color: var(--black);
  text-decoration: none;
  font-size: 1rem;
}

@media (min-width: 992px) {
  #treatment {
    margin-top: 15rem;
  }
}

@media (min-width: 1199.98px) {
  #category-content > div {
    max-width: 80%;
  }
}

/* BANNER 2 */
#banner-2 {
  margin: 10rem 0;
  background-color: var(--secondary);

  color: var(--primary);
}

#banner-2 h2 + p {
  color: var(--white);
}

#banner-2 a {
  background-color: var(--primary);
  color: var(--black);
  font-weight: 700;
  padding: 0.75rem 1.5rem;

  cursor: pointer;
  transition: transform 0.3s;
}

#banner-2 a:hover {
  transform: scale(1.05);
}

#banner-2 > div {
  padding: 5rem 0 3rem;
}

@media (max-width: 386.98px) {
  #banner-2 br {
    display: none;
  }
}

@media (min-width: 768px) {
  #banner-2 {
    background-image: url("../assets/img/banner-2.png");
    background-size: cover;
    background-position-x: 50%;
    background-repeat: no-repeat;
  }
}

/* EXPERTS */
.expert-card-item-content {
  position: relative;
}

.expert-card-item-content div {
  position: absolute;
  left: 0;
  bottom: -3rem;

  padding: 2rem 3rem;
  background-color: var(--secondary);
}

.expert-card-item:hover .expert-card-item-content div {
  background-color: var(--primary);
}

.expert-card-item:hover .expert-card-item-content div p {
  color: var(--black);
}

.expert-card-item-content div p {
  color: var(--primary);
}

.expert-card-item-content div p+p {
  color: var(--white);
}

.expert-card-item-content img {
  width: 100%;
}

@media (max-width: 991.98px) {
  .expert-card-item {
    margin-bottom: 5rem;
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
  .expert-card-item-content div p {
    font-size: 1.5rem;
  }
  
  .expert-card-item-content div p+p {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
  .expert-card-item-content div {
    padding: 1rem 2rem;
  }
}

/* COMMENTS */
#comments {
  margin-top: 10rem;
}

#comments .item {
  position: relative;

  background-color: var(--primary);
  color: var(--black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#comments .item img {
  position: absolute;
  bottom: 10%;
  right: 10%;

  height: 2rem;
  width: 2rem;
}

/* Blog */
#blog {
  padding-top: 6rem;
}

#blog img {
  width: 100%;
}

#blog .row div {
  position: relative;
  cursor: pointer;
}

#blog .row div a > div {
  position: absolute;
  bottom: -10%;
  width: 90%;
  background-color: var(--secondary);
  transition: 0.3s background-color;
}

#blog .row div a > div h3 {
  color: var(--primary);
  transition: 0.3s color;

}

#blog .row div a > div p {
  color: var(--white);
  transition: 0.3s color;
}

#blog .row > div:hover a > div {
  background-color: var(--primary);
}

#blog .row > div:hover a > div h3 {
  color: var(--black);
}

#blog .row > div:hover a > div p {
  color: var(--black);
}

/* CONTACT */
#contact {
  margin-top: 7rem;
  position: relative;
}

#contact > div {
  position: relative;
  z-index: 1;

  background-color: var(--white);
}

#contact::before {
  content: '';

  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--primary);
  height: 100%;
  width: 50vw;

  z-index: 0;
}

#contact .title {
  color: var(--secondary);
}

#contact-info > div {
  display: grid;
  grid-template-columns: 3rem 1fr;
  gap: 2rem;
}

#contact-info > div b {
  color: var(--text);
}

#contact-info > div a {
  width: fit-content;
  color: var(--text-detail);
  text-decoration: none;
}

#contact-info > div:first-of-type a {
  text-decoration: underline;
}

#submit-btn {
  background-color: var(--primary);
  color: var(--black);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  border: none;

  transition: 0.3s background-color;  
}

#submit-btn:hover {
  background-color: var(--primary-hover);
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  #email-link {
    font-size: 1rem;
  }
}

/* MAP */
#map iframe {
  width: 100%;
  height: 20rem;
  margin: 0;
  display: block;
}