#banner-1 {
  background-image: url('../assets/img/banner-1.jpg');
  background-size: cover;

  width: 100%;
  
  height: 80vh;
}


/* WELCOME */
#welcome {
  width: 100%;
  height: 100%;

  position: relative;

  background-color: var(--secondary);
}

#welcome-cards {
  position: absolute;
  top: -7rem;
}

.welcome-card {
  position: relative;
  
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 20rem;  
  height: 15rem;

  background-size: cover;
  background-repeat: no-repeat;
}

#welcome-card-1 { background-image: url('../assets/img/estetica.jpg'); }
#welcome-card-2 { background-image: url('../assets/img/dermatologia.jpg'); }
#welcome-card-3 { background-image: url('../assets/img/tricologia.jpg'); }
#welcome-card-4 { background-image: url('../assets/img/nutricao.jpg'); }

.welcome-card span {
  position: relative;
  z-index: 1;
  
  font-family: 'Vidaloka', serif;
  text-align: center;
}

.yellow-filter {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  
  width: 100%;
  height: 100%;

  background-color: var(--primary-700);
}

/* ABOUT */
#about {
  padding: 16rem 0 5rem;
}

#about-img {
  width: 100%;
  height: 100%;

  position: relative;
}

#about-img img {
  position: absolute;
  width: 100%;
}

#about p {
  line-height: 1.75rem;
}

@media (max-width: 991.98px) {
  #about {
    padding-top: 28rem;
    padding-bottom: 1rem;
  }

  #about-img {
    display: flex;justify-content: center;
  }

  #about-img img {
    position: relative;
    max-width: 35rem;
  }
}

@media (max-width: 575.98px) {
  #about {
    padding-top: 60rem;
  }
}

/* TREATMENT */
#categories {
  border-bottom: 2px solid var(--line);
  width: fit-content;
}

#categories span.selected {
  position: relative;
}

#categories span.selected::before {
  content: '';
  position: absolute;
  
  bottom: -0.25rem;
  left: 0;

  width: 100%;
  height: 0.25rem;

  background-color: var(--primary);
}

#categories span {
  cursor: pointer;
}

#category-content {
  margin-top: 3rem;
}

.category-item {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 12rem;
  height: 100%;
}

.category-item-icon {
  position: absolute;
  top: 0;
  z-index: 1;

  background-color: var(--secondary);
  padding: 1.25rem;
  border-radius: 50%;

  height: fit-content;
}

.category-item-icon img {
  width: 2rem;
  height: 2rem;
}

.category-item-content {
  position: absolute;
  top: 2.5rem;
  z-index: 0;

  background-color: var(--primary);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  padding-bottom: 1rem;
  height: fit-content;
  width: 100%;
}

.category-item-content a {  
  color: var(--black);
  text-decoration: none;
  font-size: 1rem;
}

@media (min-width: 992px) {
  #treatment {
    margin-top: 15rem;
  }
}

@media (min-width: 1199.98px) {
  #category-content > div {
    max-width: 80%;
  }
}